.signin__conatiner {
  max-width: 1200px;
  margin: 0 auto;
  background-image: linear-gradient(
    to left,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  padding: 50px;
  border-radius: 40px;
}
.signin__conatiner .ant-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
